.previewImage{
    position: relative;
}

.previewImage>svg{
    position: absolute;
    right: 1.2rem;
    top: 0.2rem;
    cursor: pointer;
}

.previewImage>img{
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    border-radius: 0.5rem;
}